<html>
<% include header %>

<style type="text/css">
	.right-panel { border-right: 1px solid #999; height:100%; background-color:#eee;}
	.right-panel h2 {color:#ccc;}
	.our_form .input-group {margin-top:5px;}
</style>


<!-- Event Management -->
<form action="/addevent" method="post" class="our_form">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">

		<% include form_event %>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input class="btn btn-primary" type="submit" value="Add event">
        
      </div>
    </div>
  </div>
</div>
</form>




<div class="container-fluid">
<div class="row">
<div class="col-sm-2 right-panel">
	<%
		var username = 'Undefined User';
		if (user.local.email) { 
			username = user.local.name;
		} else if (user.facebook.token) {
			username = user.facebook.name;
		}
	%>

	<h2> Welcome <%=username%> </h2>
</div>
<div class="col-sm-10">

	<% if (user.events.length > 0) { %>
		<table class="table table-hover"> 
			<thead> <tr> 
				<th> Goal List </th> <th> Status </th> 
			</tr> </thead>
			<tbody>
			<% for (var e in user.events){ 
				if (user.events[e].title){	
					if (user.events[e].dateEnd === undefined){
					%>
				<tr>

					<td><a class="details" data-toggle="modal" data-target="#myModal" 
						data-goal="<%=user.events[e].title%>"
						data-goal-id="<%=user.events[e]._id%>"
						data-category="<%=user.events[e].category%>"

						>
					<%=user.events[e].title%>
					</a></td> 
				</tr>
			<% 		}
				}
			} %>
			</tbody>
		</table>
	<%
	} else { %>
		No events yet! Add a new event below.
	<%} %>



<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"
						data-goal=""
						data-goal-id="-1"
						data-category=""
>
  New Event
</button>

<% include kitten %>
<Script>

$('#myModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var goal = button.data('goal') // Extract info from data-* attributes
  var id = button.data('goal-id') // Extract info from data-* attributes
  var category = button.data('category') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('#eventtitle').val( goal )
  modal.find('#category').val( category )
  modal.find('#goal-id').val( id )


})

</script>

</html>