<h3>Details:</h3>
<form action="/editevent" method="post">
	<input type="hidden" id="eventid" value=<%=event._id%>>
	<label>Goal title:
		<input type="text" id="eventtitle" name="eventtitle" class="form-control" value=<%=event.title%>>
	</label>
	<label>Category:
		<input type="text" id="category" name="category" class="form-control" value=<%=event.category%>>
	</label>
	<label>Remind me:
		<select id="reminders" name="reminders">
			<option value="day">Every Day</option>
			<option value="2days">Every Other Day</option>
			<option value="week">Every Week</option>
		</select>
	</label>
	<label> at time
		<input type="text" id="remindtime" name="remindtime" class="form-control">
	</label>
	<% if (event.scheduledReminders.length > 0) { %>
		(next scheduled reminder: <%=event.scheduledReminders[0]%>)
	<%} else { %>
		(no reminders set)
	<%}%>
	<label>Comments:
		<input type="text" id="comments" name="comments" class="form-control" value=<%=event.comments%>>
	</label>

	<input type="submit" value="Save event">
</form>

<form action="/deleteevent" method="post">
	<input type="hidden" id="eventid" value=<%=event._id%>>
	<input type="submit" value="Delete event">
</form>